@import "../../../../theme/global.scss";
@import "../../../../theme/utils.scss";

.list {      
    @include relative_full;

    .item_container {
        @extend .list;        
        @include column_flex;                
        text-align: center;        
        padding: 16px;
    }

    .empty_container {
        @extend .list;
        display: table;
    }
    
    .box_image {
        @include absolute($right: 64px, $bottom: 16px);
        @include set_size(160px, 160px);        
        object-fit: cover;
        opacity: 0.5;
    }

    .title {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: $h3-size;
        font-weight: 600;
        color: $deep-title-color;
    }
}