@import "../../theme/global.scss";
@import "../../theme/utils.scss";

.login {    
    @include relative_full;
    margin: 0;    

    .logo {        
        @include set_size(80px, 80px);
        align-self: flex-end;        
    }    

    .box {                
        @include column_flex;

        .item_container {
            @extend .box; 
            @include set_size(100%, 104px);                               
         }

        .item_container:first-child {
            margin-top: 128px;
        }       

        .sub_title {
            @include small_title;
            margin-bottom: 16px;            
        }                

        .text_box {            
            @include content_input(200px);   
            width: 100%;         
        }

        .login_btn {            
            @include large_button;            
        }

        .link_btn {
            margin: 12px 0;
            @include link_btn;
            align-self: flex-start;            
        }        

        .register_btn {
            @extend .link_btn;
            margin-left: 8px;
            margin-top: 2px;
        } 
        
        .register_container {
            margin-top: 16px;
        }
    }    
}
