@import "../Global.scss";

.login {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;    

    .logo {
        width: 80px;
        height: 80px;
        align-self: flex-end;
        content: url("../../image/login.svg");
    }
    
    .login_container {
        position: absolute;
        left: 0;
        top: 0;        
        background-color: $nav-bg-color;
        width: 410px;
        height: 100%;    
        padding: 40px;
        box-sizing: border-box;
        min-height: 620px;
        box-shadow: 2px 0px 10px 0 rgba(0,0,0,0.5);
    }

    .box {        
        display: flex;
        flex-flow: column;
        justify-content: flex-start;

        .item_container {
            @extend .box;    
            align-items: flex-start;         
            height: 104px;        
         }

        .item_container:first-child {
            margin-top: 128px;
        }       

        .sub_title {
            margin-bottom: 16px;
            font-size: 13px;
            line-height: 16px;
            font-weight: 600;
            color: $title-color;
        }

        .cbx_Text {
            @extend .sub_title;
            margin-bottom: 0;
        }

        .link_text {
            font-size: 13px;
            line-height: 16px;
            font-weight: 700;
        }

        .text_box {
            border: 1px solid $textbox-border-color;
            color: $content-color;
            background-color: $textbox-nav-bg-color;
            padding-left: 15px;
            font-size: 24px;
            width: 100%;
            height: 48px;        
            border-radius: 3px; 
            @include global_transition;
            
            &:hover {
                border-color: $textbox-border-hover-color;
            }

            &:focus {
                border-color: $textbox-border-active-color;
            }
        }

        .login_btn {
            width: 100%;
            height: 48px;
            border-radius: 5px;
            padding: 0;
            margin-bottom: 13px;
            background-color: $highlight-color;
            color: $highlight-highlight-color;
            font-size: 24px;
            font-weight: 700;
            @include global_transition;
            
            &:hover {
                background-color: $highlight-hover-color;
            }

            &:active {
                background-color: $highlight-active-color;
            }
        }

        .link_btn {
            margin-bottom: 24px;
            color: $highlight-color;
            text-decoration-color: $highlight-color;
            background: none;
            padding: 0;
        }

        .link_btn:hover {
            text-decoration: underline;
        }        

        .register_btn {
            @extend .link_btn;
            margin-left: 8px;
        }

        //NOTE: Checkbox styling
        //1. 체크박스를 숨긴후
        //2. 뒤쪽 Label과 합쳐 기본 Display를 설정하고
        //(라벨을 쓰는 이유: For 속성으로 체크박스와 묶어줌)
        //For 속성: label의 for에 입력된 id와 같은 id를 가진 element가 있으면 연결시켜줌
        //3. 체크했을때의 Display 설정
        //최종 구조 : (first-child:before - 이펙트 담당) - (first-child - 체크 박스) - (svg - 체크 이미지)
        .cbx_container {
            height: 24px;
            margin-bottom: 12px;
        }

        .ipx {
            display: none;
        }

        .cbx {
            margin: auto;
            user-select: none;
            cursor: pointer;                  
                        
            span {
                display: inline-block;
                vertical-align: middle;
                transform: translate3d(0,0,0);
                box-sizing: border-box;
                margin-top: 6px;  

                //Pseudo class로 표현한 체크박스                 
                &:first-child {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    border-radius: 3px;
                    transform: scale(1);
                    vertical-align: middle;
                    background-color: $bg-color;
                    border: 1px solid $textbox-border-color;                    
                    @include global_transition;                   
    
                    svg {
                        position: absolute;
                        left: 3px;
                        top: 4px;                        
                        fill: none;
                        stroke: $highlight-highlight-color;
                        stroke-width: 2;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-dasharray: 16px;
                        stroke-dashoffset: 16px;
                        transition: all 0.3s ease;
                        transition-delay: 0.1s;
                        transform: translate3d(0,0,0);
                    }
    
                    //Pseudo class로 만든 체크변경시 이펙트
                    &:before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        background: $highlight-color;
                        display: block;
                        transform: scale(0);
                        opacity: 1;
                        border-radius: 50%;
                    }
                }

                //Span의 Content
                &:last-child {
                    padding-left: 8px;
                }            
            }                            

            &:hover span:first-child {
                border-color: $highlight-color;
            }
        }

        .ipx:checked + .cbx {
            span {
                &:first-child {
                    background: $highlight-color;
                    border-color: $highlight-color;
                    animation: wave 0.4s ease;
                    svg {
                        stroke-dashoffset: 0;
                    }
                    &:before {
                        transform: scale(3.5);
                        opacity: 0;
                        transition: all 0.6s ease;
                    }
                }
            }
        }        
          
        @keyframes wave {
            50% {
                transform: scale(0.9);
            }
        }
    }    
}
