@import "../../../../../theme/global.scss";
@import "../../../../../theme/utils.scss";

.container {    
    @include relative_full;
    @include column_flex(stretch, stretch);    
    padding: 24px 32px;  
    
    .inner_container {
        @include column_flex(stretch, stretch);
        height: 100%;
    }

    .logo {  
        @include set_size(240px, 240px);              
        object-fit: cover;    
        flex-grow: 1;    
    }

    .num_box {
        @include relative($height: 96px);
        @include column_flex(flex-start, flex-start);        
        margin-top: 24px;

        .num_input {            
            padding: 0px 48px;
        }
    }

    .etc_box {
        @include set_size(100%);                       
        @include row_flex(space-between);
        align-content: stretch; 

        .expire_box, .cvc_box {
            @include set_size(50%, 96px);
            @include column_flex(flex-start);            
            align-content: center;

            input {
                width: 76px;
            }
        }        
    }        

    .name_box {
        @extend .num_box;                    
    }

    .etc_box, .name_box {
        margin-top: 16px;
    }

    .close_icon {        
        @include set_size(100%, 100%);            
        object-fit: cover;
    }

    .close_btn {
        @include absolute($right: 24px, $top: 24px);
        @include set_size(16px, 16px);        
        background: none;        
        padding: 0;
    }

    .add_btn {        
        @include large_button;                                     
    }

    .header_box {
        @include row_flex;

        .header_title {
            @include input_header_text;
            margin-left: 7px;
        } 
        
        .error_title {
            @include input_error_text;
            margin-left: 8px;
            @include global_transition;
            opacity: 0;
        }
    
        .error_visible {
            opacity: 1;
        }

        &:not(:first-of-type) {
            margin-top: 40px;
        }
    }    

    .input {
        @include content_input;
        margin-top: 8px;            
    }
}