@import "../../theme/global.scss";
@import "../../theme/utils.scss";

.nav_container {
    @include relative_full;    
    @include column_flex;
    padding: 24px 32px;    

    button > * {
        pointer-events: none;
    }

    button {
        height: 48px;
        border-radius: 5px;
        border: none;        
        outline: none;
    }   
    
    .large_btn_text {
        display: inline-block;            
        font-size: $h1-size;
    }
    
    .medium_btn_text {
        display: block;
        font-size: 24px;  
        font-weight: 600;          
    }
    
    .item_box {
        @include column_flex;        
        flex-grow: 1;         
        
        .header {
            font-size: $h4-size;
            line-height: 16px;
            color: $title-color;
            font-weight: 600;
            margin-left: 8px;
            margin-bottom: 8px;
    
            &:first-child {
                margin-top: 24px;
            }
        }             
    
        .item_btn {            
            padding: 0;
            padding-left: 8px;
            margin-bottom: 16px;
            background: rgba(225, 225, 230, 0);            
            text-align: left;            
    
            &:hover {
                background-color: $grade3-bg-color;
            }        
            
            &:active {
                background-color: $grade4-bg-color;
            }
        }  
        
        .selected {
            background-color: $grade4-bg-color;
    
            &:hover {
                background-color: $grade4-bg-color;
            }
        }
    }   
    
    .register_box {      
        
        .register_btn {   
            width: 100%;                     
            padding: 0;                        
            margin-bottom: 16px;
            color: $highlight-highlight-color;
            background-color: $highlight-color;
            @include global_transition;
    
            &:hover {
                background-color: $highlight-hover-color;                
            }
    
            &:active {
                background-color: $highlight-active-color;
            }
        }    
    
        .link_btn {            
            padding: 0;
            background: none;
            border: none;            
            height: 16px;
            margin-left: 6px;
            margin-top: 1px;
            color: $highlight-color;
            &:hover {
                text-decoration: underline;
            }
        }
    
        .button_box {
            @include row_flex(flex-start, center);            
        }        
    
        .medium_sub_btn_text {
            @extend .medium_btn_text;
            color: $title-color;
            margin-left: 4px;
            font-weight: 500;
        }
    
        .small_text {
            display: block;
            margin-top: 1.5px;
            font-size: $h4-size;
            line-height: 16px;
            font-weight: 600;
            color: $title-color;
        }
    
        .link_text {
            @extend .small_text;
            font-size: $h4-size;            
            color: $highlight-color;
        }
    }
}


