@import "../../theme/global.scss";

.nav_container {
    position: relative;   
    width: 100%;
    height: 100%;
    padding: 24px 32px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;

    button > * {
        pointer-events: none;
    }

    button {
        height: 48px;
        border-radius: 5px;
        border: none;
        box-sizing: border-box;
        outline: none;
    }   
    
    .large_btn_text {
        display: inline-block;            
        font-size: $h1-size;
    }
    
    .medium_btn_text {
        display: block;
        font-size: 24px;  
        font-weight: 600;          
    }
    
    .item_box {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;       
        flex-grow: 1;         
        
        .header {
            font-size: $h4-size;
            line-height: 16px;
            color: $title-color;
            font-weight: 600;
            margin-left: 8px;
            margin-bottom: 8px;
    
            &:first-child {
                margin-top: 24px;
            }
        }             
    
        .item_btn {            
            padding: 0;
            padding-left: 8px;
            margin-bottom: 16px;
            background: rgba(225, 225, 230, 0);            
            text-align: left;            
    
            &:hover {
                background-color: $third-bg-color;
            }        
            
            &:active {
                background-color: $tertiary-bg-color;
            }
        }  
        
        .selected {
            background-color: $tertiary-bg-color;
    
            &:hover {
                background-color: $tertiary-bg-color;
            }
        }
    }   
    
    .register_box {      
        
        .register_btn {   
            width: 100%;                     
            padding: 0;                        
            margin-bottom: 16px;
            color: $highlight-highlight-color;
            background-color: $highlight-color;
            @include global_transition;
    
            &:hover {
                background-color: $highlight-hover-color;                
            }
    
            &:active {
                background-color: $highlight-active-color;
            }
        }    
    
        .link_btn {
            height: auto;
            padding: 0;
            background: none;
            border: none;
            box-sizing: border-box;
            height: 16px;
            margin-left: 6px;
            margin-top: 1px;
            color: $highlight-color;
            &:hover {
                text-decoration: underline;
            }
        }
    
        .button_box {
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;            
        }        
    
        .medium_sub_btn_text {
            @extend .medium_btn_text;
            color: $title-color;
            margin-left: 4px;
            font-weight: 500;
        }
    
        .small_text {
            display: block;
            margin-top: 1.5px;
            font-size: $h4-size;
            line-height: 16px;
            font-weight: 600;
            color: $title-color;
        }
    
        .link_text {
            @extend .small_text;
            font-size: $h4-size;            
            color: $highlight-color;
        }
    }
}


