@import "../../theme/global.scss";
@import "../../theme/utils.scss";

$width: 1024px;
$height: 768px;

div {    
    margin: 0;

    .register {        
        @include relative_full;
        
        .container, .panel {
            @include absolute($left: calc(50% - (#{$width} / 2)), $top: calc(50% - (#{$height} / 2)));
            @include set_size($width, $height);              
            overflow: hidden;
            border-radius: 10px;
        }

        .container { 
            @include row_flex;            
        }

        .panel {            
            background-color: $grade4-bg-color;            
        }
    }
}