@import "../../../theme/global.scss";
@import "../../../theme/utils.scss";

.takeout_result {
    display: flex;
    padding: 72px;
    flex-wrap: wrap;
    
    .content_box {
        @include column_flex(center, flex-start);
        @include set_size(100%);                

        &:not(:last-of-type) {
            &::after {            
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: $grade5-bg-color;
                margin: 17px auto 18px 0;
            }
        }
    }

    .title_box {
        @include row_flex(space-between, center);
        @include relative(100%);
        flex-wrap: wrap;

        &::after {            
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $grade5-bg-color;
            margin: 17px auto 18px 0;
        }

        .menu {
            @include set_size(32px, 32px);    
            padding: 4px;
            fill: $content-button-bg;
            background-color: $grade2-bg-color;
            border-radius: 4px;
            cursor: pointer;   
            box-sizing: border-box;         
        }

        .menu_panel {
            @include column_flex(center, center);

            button {
                @include content_small_btn(128px);

                &:not(:first-child) {
                    margin-top: 8px;
                }
            }
        }
    }

    .page_title {                
        font-size: $h1-size;
        font-weight: 600;
        color: $title-color;        
    }

    .section_title {
        font-size: $h2-size;
        font-weight: 600;
        color: $title-color;
    }

    .large_content {
        font-size: $h1-size;
        font-weight: 600;
        color: $deep-title-color;
        margin-top: 16px;
    }

    .small_content {
        font-size: $h3-size;
        font-weight: 600;
        color: $title-color;
        margin-top: 16px;
    }

    .orders {
        @include set_size(100%);
        display: grid;        
        margin-top: 16px;
        gap: 16px;
        grid-auto-rows: minmax(min-content, max-content);

        .order {
            display: flex;
            flex-wrap: wrap;
        }

        .name {
            font-size: $h1-size;
            font-weight: 600;
            color: $deep-title-color;
            width: 60%;
            padding-left: 16px;
        }

        .quantity {
            font-size: $h3-size;
            font-weight: 600;
            color: $deep-title-color;
            width: 10%;
            text-align: center;
        }

        .price {
            font-size: $h1-size;
            font-weight: 600;
            color: $deep-title-color;
            margin-left: auto;
            padding-right: 16px;
        }

        .name, .price, .quantity {
            display: inline-block;
            line-height: 40px;
        }

        .menuprice {
            font-size: $h2-size;
            font-weight: 600;
            color: $content-color;
            margin-left: auto;
            padding-right: 16px;
        }
    }

    .total_price {
        font-size: $h1-size;
        font-weight: 600;
        color: $content-color;
        margin-top: 24px;
        margin-left: auto;
        padding-right: 16px;
    }
}