@import "../../../theme/global.scss";
@import "../../../theme/utils.scss";


.favorites {
    @include relative_full;            
    padding: 72px;

    .header {
        @include set_size(100%);
        @include row_flex(flex-end, center);

        button {
            @include content_small_btn(auto);
            padding: 0 8px;

            &:not(:first-of-type) {
                margin-left: 8px;
            }
        }

        .header_btn_panel {
            margin-left: 8px;            
        }
    }    

    .no_result {
        @include set_size(100%, 560px);
        @include column_flex(center, center);

        .svg {
            @include set_size(160px, 160px);

            .path {
                fill: $grade5-bg-color;
            }
        }

        .text {
            font-size: $h1-size;
            color: $title-color;
            font-weight: 600;
            margin-top: 16px;
            white-space: pre;
        }
    }     
}    

.title {
    font-size: 24px;
    font-weight: 600;
    color: $title-color;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $grade5-bg-color;
        margin: 17px auto 18px auto;
    }
}

.item_grid {
    @include set_size(100%, 240px);
}


.restaurant {
    @include row_flex(flex-start, flex-start);
    @include relative(100%, 240px); 
    flex-wrap: wrap;        
    background-color: $grade1-bg-color;
    padding: 16px;
    overflow: hidden;    

    .thumb {
        @include set_size(160px, 200px);
        object-fit: cover;    
        border-radius: 5px;
        background-color: $grade2-bg-color;
    }

    .content_panel {
        @include column_flex(center, flex-start);        
        @include set_size(calc(100% - 268px));
        margin-left: 36px;
        
        .name {            
            color: $deep-title-color;
            font-size: 36px;
            font-weight: 600;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &:visited {
                color: $deep-title-color;
            }

            & ~ span {
                font-size: $h3-size;
                font-weight: 600;
                color: $title-color;
                margin-top: 16px;
            }
        }            

        p {
            margin: 4px 0px;
            font-size: $h3-size;
            font-weight: 600;
            color: $title-color;                                
            min-width: 120px;            
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: left;

            span {                    
                font-size: $h3-size;
                font-weight: 600;
                color: $deep-title-color;
                margin: 0px 12px;                                        
            }
        }
        
    }  

    .menu {
        // @include absolute(16px, 16px, auto, auto);
        @include set_size(24px, 24px);
        cursor: pointer;
        user-select: none;
        background-color: $grade2-bg-color;
        border-radius: 3px;
        padding: 4px;
        margin-left: 8px;
    }  
    
    &::after {
        position: relative;
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: $grade5-bg-color;
        margin-top: 12px;
        align-items: baseline;
    }

    .menu_panel {        
        @include column_flex(center, center);

        button, a {
            @include content_small_btn(200px);
            text-align: center;
            text-decoration: none;

            &:not(:first-child) {
                margin-top: 8px;
            }
        }
    }      
}