@import "../../theme/global.scss";
@import "../../theme/utils.scss";

.container {
    @include relative_full;    
    @include column_flex(stretch, stretch);
}

.header {
    @include relative;
    @include set_size(100%);
    margin-bottom: 24px;
    @include row_flex(flex-end, center);

    .layout_btn {
        @include tool_btn(36px, 36px);

        &:last-child {
            margin-left: 8px;
        }            

        .icon {
            object-fit: cover;
            @include set_size(32px, 32px);
        }
    }
}

.panel {            
    @include set_size(100%, calc(100% - 60px));                
    border-style: solid;    
    border-radius: 10px;        
    flex-grow: 10;   

    .inner_panel {
        @include set_size_full;             
        display: grid;      
        overflow: hidden;
        grid-template-columns: repeat(1, 100%);        
    }
}

.navigator {
    @include row_flex(center, center);
    @include relative(100%, 56px);

    .selected {
        background-color: $content-button-bg;
        color: $highlight-highlight-color;
        @include set_size(36px, 36px);

        &:hover {
            background-color: $content-button-hover-bg;
        }

        &:active {
            background-color: $content-button-active-bg;
        }
    }    

    button {                
        @include set_size(32px, 32px);        
        background-color: $grade2-bg-color;
        color: $title-color;
        border-radius: 5px;
        padding: 0;     
        margin: 0px 4px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }   

        &:hover {
            background-color: $grade4-bg-color;
        }

        &:active {
            background-color: $grade5-bg-color;
        }

        span {
            display: inline-block;
            @include set_size(24px, 24px);
            line-height: 24px;
            margin: 4px;
            font-size: $h3-size;                
        }

        img {
            @include set_size(24px, 24px);
            margin: 4px;            
        }        
    }
}