@import "../../theme/global.scss";
@import "../../theme/utils.scss";

.dropdown {
    @include relative(100%, 48px);

    .input {        
        @include content_input;
    }
}

.item_panel {
    @include absolute(56px);
    @include set_size(100%);  
    max-height: 300px;  
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $grade1-bg-color;
    border-radius: 3px;
    padding: 0px;             
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;

    .inner_panel {
        @include column_flex;
        box-sizing: border-box;
    }

    .item {
        @include set_size(calc(100% - 8px), 40px);        
        background-color: $grade2-bg-color;        
        text-align: left;
        margin: 0px 4px;
        padding-left: 8px;   
        font-size: $h3-size;         
        
        &:hover {
            background-color: $grade3-bg-color;
        }
    
        &:first-child {
            margin-top: 4px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    
        &:last-child {
            margin-bottom: 4px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
    
    .item_selected {
        background-color: $grade3-bg-color;
    }
}