@import "../../../theme/global.scss";
@import "../../../theme/utils.scss";

.profile {
    @include relative_full;        

    .panel {        
        background-color: $primary-bg-color;
        transform: translateX(0%);
    }

    .container {        
        @include column_flex(flex-start, flex-start);        
        padding: 24px 32px 0px 32px;

        & > div {
            margin-top: 24px;
            margin-bottom: 16px;            
            max-width: 400px;
            height: auto;
        }
    }

    .panel, .container {
        @include absolute_full_stretch;
    }   
}