@import "../../../../theme/global.scss";
@import "../../../../theme/utils.scss";
@import "./style.scss";

.menu_title {
    @include title;
    margin-top: 18px;

    &::before {
        display: block;
        width: 100%;
        height: 1px;
        content: "";
        background-color: $grade5-bg-color;            
        margin-bottom: 18px;
    }  
}

.menu_panel {
    @include relative(100%, 200px);
    overflow-x: auto;
    margin-top: 24px;
}

.menu_inner_panel {
    @include relative(auto, 200px);
    display: grid;
    column-gap: 8px;
    grid-template-columns: repeat(9, 160px);
}

.menu_noitem_panel {
    @include noitem_panel;
}