@import "../../../../theme/global.scss";
@import "../../../../theme/utils.scss";
@import "./Details.module.scss";

.reviews {
    
}
.review_title_panel {
    @include row_flex(space-between, center);
    flex-wrap: wrap;
    margin-top: 18px;

    .review_title {            
        @include title;                          
    }

    & > span {
        margin-bottom: 0;
        margin-right: 16px;
    }   
    
    &::before {
        display: block;
        width: 100%;
        height: 1px;
        content: "";
        background-color: $grade5-bg-color;            
        margin-bottom: 18px;
    }  
}   

.new_review_btn {                
    @include content_medium_button(124px);  
    line-height: 40px;
    text-decoration: none;
    text-align: center;
}

.review_noitem_panel {
    @include noitem_panel;

    & > div {
        margin-bottom: 24px;
    }
}