@import "../../../../theme/global.scss";
@import "../../../../theme/utils.scss";

@mixin title {            
    font-size: $h1-size;
    color: $title-color;
    font-weight: 600;                    
}

.dialog_btn {
    @include content_small_btn;
    @include absolute(32px, 32px);
    @include set_size(32px, 32px);
    padding: 8px;

    img {
        @include set_size_full;
    }
}

.marker_container {
    @include absolute(-28px, $left: -12px);
    @include row_flex(flex-start, flex-start);

    & * {
        user-select: none;
    }

    .marker {        
        @include set_size(24px, 32px);
    }

    span {
        line-height: $h1-size;
        background-color: $content-button-bg;
        color: $highlight-highlight-color;
        padding: 0 8px;
        border-radius: 3px;
        align-self: center;
        font-size: $h5-size;
        font-weight: 600;
    }
}

.details {
    @include relative_full;    

    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 72px;
    }

    .name_panel {
        @include set_size(100%);    
        
        img {
            @include relative(24px, 24px);
            border-radius: 3px;                    
            padding: 0;
            margin-left: 8px;
            user-select: none;
            cursor: pointer;
        }

        .name {                    
            font-size: $h0-size;                                        
            color: $deep-title-color;
            font-weight: 600;  
            margin-top: 4px;                  
        }                                

        .address {
            margin-top: 4px;
            font-size: $h3-size;
            color: $title-color;                    
        }

        &::after {
            display: block;
            width: 100%;
            height: 1px;
            content: "";
            background-color: $grade5-bg-color;
            margin-top: 18px;
        }
    }

    .upper_container {
        @include relative(auto);                     
        @include row_flex(stretch, center);    
        margin-top: 18px;    

        .thumbnail_panel {
            @include relative(160px, 240px);
            @include column_flex(flex-start, center);
            
            img {
                @include relative(100%, calc(100% - 28px));
                object-fit: cover;
                background-color: $grade5-bg-color;
                border-radius: 5px;
                margin-bottom: 16px;
            }

            .rating {
                font-size: $h5-size;
                line-height: $h5-size;
                color: $deep-title-color;
                font-weight: 600;
            }
        }        

        .info_panel {
            @include relative;
            @include column_flex(center, flex-start);
            margin-left: 36px;
            
            .info_inner_panel {
                @include relative;             
                @include row_flex(flex-start, center);
                margin-bottom: 24px;  
                
                img {
                    @include relative(24px, 24px);
                    border-radius: 3px;                    
                    padding: 0;
                    margin-left: 8px;
                    user-select: none;
                    cursor: pointer;
                }                
            }                        

            .hour_title {
                font-size: $h1-size;
                color: $title-color;
                margin: 0 0 16px 36px;                
            }

            .calentdar_container {
                @include relative_full;

                .calendar_panel {
                    @include relative;
                    display: flex;
                    min-width: 240px;
                    padding-top: 16px;

                    & > div:first-child {
                        @include column_flex(center, center);
                        font-size: $h3-size;
                        color: $deep-title-color;

                        & > span {
                            display: inline-block;
                        }
                    }

                    & > div > div > span {                        
                        font-size: $h4-size;
                        color: $title-color;
                    }
                }
            }            

            .hour_content {
                font-size: $h2-size;
                color: $content-color;
                font-weight: 900;
            }
        }        
    }        

    .lower_container {
        @include relative(100%);
        @include column_flex(flex-start, stretch); 
        margin-top: 18px;
        
        .desc_title {
            @include title;

            &::before {
                display: block;
                width: 100%;
                height: 1px;
                content: "";
                background-color: $grade5-bg-color;            
                margin-bottom: 18px;
            }  
        }

        .desc {
            white-space: pre-wrap;
            font-size: $h3-size;
            line-height: $h1-size;
            color: $content-color;
            margin: 24px 0 0 0;
        }                
    }

    .navigator {
        @include set_size(240px);        
        @include column_flex(center, center);
        position: relative;        
        margin-left: 36px;                       

        & > button, a {            
            @include content_medium_button(160px); 
            display: block;
            line-height: 40px;                      
            text-align: center;
            text-decoration: none;
            align-self: center;

            &:not(:first-child) {
                margin-top: 16px;
            }
        }        
    }

    @media screen and (max-width : 1230px ) {
        .navigator {
            @include set_size(100%);        
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 16px; 
            margin-left: 0;
            margin-top: 36px;  
            
            & > button, a {
                width: 100%;
                margin: 0;
    
                &:not(:first-child) {
                    margin: 0;
                }
            }
        }
    }
}

@mixin noitem_panel {
    @include column_flex(center, center);
    @include set_size(100%, 240px);
    background-color: $grade2-bg-color;
    border-radius: 10px;
    margin-top: 24px;

    & > div {
        @include row_flex(center, center);

        span {
            display: block;
            font-size: $h2-size;
            color: $content-color;
        }
    }

    img {
        @include set_size(128px, 128px);
        margin-right: 16px;
    }        

    button {
        margin-top: 16px;
    }
}
