@import "../../../../theme/global.scss";
@import "../../../../theme/utils.scss";

.container {    
    @include relative_full;
    @include column_flex($cross: flex-start);    
    padding: 72px;        

    .title {        
        @include big_content_title;
    }

    .description {
        @include big_content_body;
    }

    .name_search_box {
        @include relative(100%, 80px);
        @include row_flex(stretch, center);        
        max-width: 540px;                
    }

    .search_btn {
        @include content_small_btn;
        margin-left: 8px;        
    }

    .search_btn_title {
        font-size: $h3-size;
        color: $highlight-highlight-color;
    }
}