@import "../../../../theme/global.scss";
@import "../../../../theme/utils.scss";

.container {    
    @include relative_full;
    @include column_flex($cross: flex-start);    
    padding: 72px;        

    .title {        
        @include big_content_title;
    }

    .description {
        @include big_content_body;
    }

    .name_search_box {
        @include relative(100%, auto);
        @include row_flex(stretch, center);        
        max-width: 540px;                
    }

    .search_btn {
        @include content_medium_button(124px);
        margin-left: 8px;               
    }

    .location_search_btn {
        @include content_medium_button(124px);
        margin-top: 32px;
        text-decoration: none;   
        text-align: center;             
    }

    .search_container {
        @include column_flex(flex-start, flex-start);
        @include set_size(100%, 80px);        
    }

    .search_btn_title {
        display: inline-block;
        font-size: $h3-size;
        color: $highlight-highlight-color;        
        line-height: 40px;
        vertical-align: baseline;
    }

    .error_text {
        @include input_error_text;
        margin-left: 8px;
        margin-top: 8px;
    }

    .location_search_box {
        @include relative(100%, auto);
        @include column_flex(flex-start, flex-start);

        max-width: 540px;                        

        &:not(:first-of-type) {
            margin-top: 32px;
        }

        & > span:first-of-type {
            @include input_header_text;            
            margin-left: 8px;
            margin-bottom: 8px;
        }

        &:first-of-type {
            height: 96px;
        }
    }

    .grid {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
    }
}

.category_item_grid {          
    @include set_size_full;    
    // min-width: 160px;
    // max-width: 261.3px;  
    // min-height: 240px;
    // max-height: 391.9px;        
    background-color: $grade1-bg-color;
    padding: 0;

    .category_item_panel_grid {
        @include relative_full;
        @include column_flex(flex-start, center);   
        overflow: hidden;              

        .category_thumbnail_grid {
            @include relative(100%, calc(100% - 48px));
            border-radius: 8px 8px 0 0;
            background-color: $grade2-bg-color;
            object-fit: cover;
        }            

        .category_item_title_grid {
            @include set_size(100%);
            display: inline-block;
            border-radius: 0 0 8px 8px;
            line-height: 48px;
            font-size: $h3-size;
            font-weight: 600;
            vertical-align: middle;
            background-color: $grade2-bg-color;
        }
    }        
}