@import "../../theme/global.scss";
@import "../../theme/utils.scss";

.profileInput {    
    @include reverse_column_flex(flex-start, flex-start);
    margin-bottom: 16px;    

    &:first-child {
        margin-top: 24px;
    }

    .header_box {
        @include row_flex(flex-start, center);        
        margin-bottom: 8px;
    }
    
    .header {
        display: block;
        font-size: $h4-size;  
        line-height: 16px;          
        font-weight: 600;
        margin-left: 7px;
        color: $title-color;
    }

    .error_text {
        @extend .header;
        color: $alert-color;
        font-weight: 600;
        margin-left: 8px;
        transition: opacity 0.2s ease-out;
    }

    .input {
        @include content_input;
    }    

    .input:focus ~ .header_box .error_text {
        opacity: 0;
    }

    .input_error_border {
        border-color: $alert-color;
        transition: none;
        &:hover {
            border-color: $alert-color;
        }
        &:focus {
            border-color: $alert-color;
        }
    }
}    