@import "../../theme/global.scss";
@import "../../theme/utils.scss";

.popup {
    @include absolute();    
    background-color: $grade1-bg-color;
    box-shadow: 0 2px 12px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 8px;
    z-index: 4;
}