$bg-color : var(--bg-color);
$grade1-bg-color : var(--grade1-bg-color);
$grade2-bg-color : var(--grade2-bg-color);
$grade3-bg-color : var(--grade3-bg-color);
$grade4-bg-color : var(--grade4-bg-color);
$grade5-bg-color : var(--grade5-bg-color);
$content-color : var(--content-color);
$textbox-border-hover-color : var(--textbox-border-hover-color);
$textbox-border-color : var(--textbox-border-color);
$textbox-bg-color : var(--textbox-bg-color);
$highlight-color : var(--highlight-color);
$highlight-hover-color : var(--highlight-hover-color);
$highlight-active-color : var(--highlight-active-color);
$highlight-highlight-color : var(--highlight-highlight-color);
$textbox-border-active-color : $highlight-color;
$deep-title-color : var(--deep-title-color);
$light-title-color : var(--light-title-color);
$title-color : var(--title-color);
$contrast-bg-color : var(--contrast-bg-color);
$contrast-color : var(--contrast-color);
$contrast-textbox-border-color : var(--contrast-textbox-border-color);
$contrast-textbox-border-hover-color : var(--contrast-textbox-border-hover-color);
$contrast-textbox-border-active-color : $highlight-color;
$contrast-textbox-bg-color : var(--contrast-textbox-bg-color);
$contrast-title-color : var(--contrast-title-color);
$alert-color : var(--alert-color);
$alert-hover-color : var(--alert-hover-color);
$alert-active-color : var(--alert-active-color);
$success-color : var(--success-color);
$success-hover-color : var(--success-hover-color);
$success-active-color : var(--success-active-color);
$confirm-color : var(--confirm-color);
$confirm-hover-color : var(--confirm-hover-color);
$confirm-active-color : var(--confirm-active-color);
$content-button-bg : var(--content-button-bg);
$content-button-hover-bg : var(--content-button-hover-bg);
$content-button-active-bg : var(--content-button-active-bg);

$h0-size : 48px;
$h1-size : 24px;
$h2-size : 18px;
$h3-size : 16px;
$h4-size : 14px;
$h5-size : 12px;
$content-size : 13px;

$log-in-nav-width: 400px;
$register-nav-width: 280px;
$main-nav_width: 320px;

:export {
    nav_bg_color: $grade2-bg-color;
    log_in_nav_width: $log-in-nav-width;
    register_nav_width: $register-nav-width;
    main_nav_width: $main-nav_width;
}
