@import "./global.scss";

@mixin global_transition {
    transition: 0.2s all ease;
}

@mixin set_size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin set_size_full {
    @include set_size(100%, 100%);
}

@mixin row_flex($axis: flex-start, $cross: stretch) {
    display: flex;
    flex-direction: row;
    justify-content: $axis;
    align-items: $cross;
}

@mixin single_centered_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin column_flex($axis: flex-start, $cross: stretch) {
    display: flex;
    flex-direction: column;
    justify-content: $axis;
    align-items: $cross;
}

@mixin reverse_column_flex($axis: flex-start, $cross: stretch) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: $axis;
    align-items: $cross;
}

@mixin relative($width: auto, $height: auto) {
    position: relative;
    width: $width;
    height: $height;
}

@mixin relative_full {
    position: relative;
    @include set_size_full;
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;    
}

@mixin absolute_full_stretch {
    position: absolute;
    left: 0;
    top: 0;
    @include set_size_full;
    margin: 0;
}

@mixin fixed_full_stretch {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin content_input($width: 100%) {
    @include set_size($height: 48px);
    @include global_transition;

    width: $width; 
    border: 1px solid $textbox-border-color;
    border-radius: 3px;        
    color: $content-color;
    background-color: $textbox-bg-color;
    padding-left: 8px;
    font-size: $h2-size;       

    &:hover {
        border-color: $textbox-border-hover-color;
    }

    &:focus {
        border-color: $textbox-border-active-color;
    }
}

@mixin content_medium_contrast_input {
    width: 100%;
    height: 40px;
    font-size: $h3-size;
    color: $contrast-color;
    background: $contrast-textbox-bg-color;
    border: 1px solid $contrast-textbox-border-color;
    border-radius: 3px;            
    @include global_transition; 
}

@mixin content_small_contrast_input {
    width: 100%;
    padding-left: 4px;
    font-size: 16px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid $contrast-textbox-border-color;
    border-radius: 3px;        
    color: $contrast-color;
    background-color: $contrast-textbox-bg-color;    
}

@mixin large_button($width: 100%) {    
    @include set_size($width, $height: 48px);
    border-radius: 5px;
    padding: 0;    
    background-color: $highlight-color;
    color: $highlight-highlight-color;
    font-size: $h2-size;
    line-height: 48px;
    font-weight: 600;    
    @include global_transition;
    
    &:hover {
        background-color: $highlight-hover-color;
    }

    &:active {
        background-color: $highlight-active-color;
    }

    &:disabled {
        background-color: $grade5-bg-color;
    }

    &:disabled:hover {
        background-color: $grade5-bg-color;
    }
}

@mixin input_header_text {
    display: block;
    font-size: $h5-size;  
    line-height: 16px;          
    font-weight: 600;    
    color: $title-color;    
}

@mixin input_error_text {
    display: block;
    font-size: $h5-size;
    line-height: 16px;
    font-weight: 600;
    color: $alert-color;                    
    transition: opacity 0.2s ease-out;
}

@mixin content_medium_button($width: 100%) {    
    @include set_size($width, 40px);
    border-radius: 3px;
    background-color: $content-button-bg;
    @include global_transition;     
    padding: 0;    
    font-size: $h3-size;
    color: $highlight-highlight-color;
    font-weight: 600;    

    & > span {        
        font-size: $h3-size;
        color: $highlight-highlight-color;
        font-weight: 600;          
    }
    
    & > * {
        user-select: none;
    }

    &:hover {
        background-color: $content-button-hover-bg;
    }

    &:active {
        background-color: $content-button-active-bg;
    }

    &:disabled {
        background-color: rgb(105,107,109);
    }
}

@mixin small_title {
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: $title-color;    
}

@mixin link_btn {
    color: $highlight-color;
    text-decoration-color: $highlight-color;
    background: none;
    padding: 0;

    &:hover {
        text-decoration: underline;    
    }

    span {
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
    }
}

@mixin big_content_title {
    font-size: 32px;
    font-weight: 900;
    line-height: 80px;
    vertical-align: middle;
}

@mixin big_content_body {
    font-size: $h3-size;
    line-height: 80px;
    vertical-align: middle; 
}

@mixin content_small_btn($width: auto) {
    width: $width;
    height: 24px;
    background-color: $content-button-bg;
    border-radius: 3px;
    padding: 0;  
    @include global_transition;
    color: $highlight-highlight-color;
    font-size: $h4-size;
    line-height: 24px;        

    &:hover {
        background-color: $content-button-hover-bg;
    }

    &:active {
        background-color: $content-button-active-bg;
    }    
}

@mixin tool_btn($width: auto, $height: auto) {                
    @include set_size($width, $height);   
    border-radius: 3px;
    padding: 0;
    
    @include global_transition;

    &:hover {
        background-color: $grade2-bg-color;
    }

    &:active {
        background-color: $grade3-bg-color;
    }          
}