@import "../../../theme/global.scss";
@import "../../../theme/utils.scss";

.item {  
    @include set_size(100%, 72px);
    @include row_flex(flex-start, center);           
    margin: 8px 0px;
    background-color: $contrast-bg-color;
    border-radius: 5px;
    
    
    &:first-child {
        margin-top: 0px;
    }

    .logo {
        width: 72px;
        height: 72px;
        overflow: hidden;
        margin-left: 16px;
    }

    .content_box {
        @include row_flex(flex-start, center);        
        width: 100%;        
        margin-left: 16px;
        margin-right: 16px;

        .info_txt {
            display: block;
            margin-left: 4px;
            font-size: 16px;
            font-weight: 300;
            color: $contrast-color;
        }

        input {
            @include content_small_contrast_input;
        }
    }

    .button_box {
        @include row_flex(flex-end, center);
        width: 50%;        
        margin-right: 16px;

        .modify_btn {
            @include set_size(72px, 36px);            
            border-radius: 3px;
            background-color: rgb(64, 231, 31);
        }

        .remove_btn {
            @extend .modify_btn;
            margin-left: 16px;
            background-color: rgb(255, 80, 57);
        }

        .submit_btn {
            @extend .modify_btn;
            background-color: rgb(0, 115, 209);
        }

        .cancel_btn {
            @extend .remove_btn;
        }

        .btn_txt {
            font-size: 16px;
            font-weight: 600;
            color: $contrast-color;
        }
    }
}