@import "../../../../theme/global.scss";
@import "../../../../theme/utils.scss";

.result {
    @include relative(100%);
    padding: 72px;
        
    & > span {
        display: block;
        margin-top: 36px;
    }        

    // & > div:not(:first-of-type) {
    //     margin-top: 36px;
    // }

    .main_title {
        display: block;            
        font-size: 24px;
        color: $deep-title-color;
        font-weight: 600;            
    }

    .title {
        display: block;
        font-size: $h2-size;
        color: $title-color;
        font-weight: 600;            
    }

    .sub_title {
        display: block;
        font-size: $h4-size;
        color: $title-color;
        font-weight: 600;
        margin-top: 32px;
    }

    .content_box {
        @include column_flex(center, flex-start);
        @include set_size(100%);

        &:first-child::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $grade5-bg-color;
            margin: 18px auto 24px auto;
        }

        &:nth-child(2)::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $grade5-bg-color;
            margin: 34px auto 24px auto;
        }
    }

    .res_name {
        font-size: $h1-size;
        color: $deep-title-color;
        font-weight: 600;
        margin-top: 24px;
    }

    .content {
        font-size: $h1-size;
        color: $content-color;
        font-weight: 600;
        margin-top: 16px;          
    }     

    .message {
        font-size: $h2-size;
        color: $content-color;
        font-weight: 600;
        margin-top: 24px;
    }
    
    .res_address {
        font-size: $h3-size;                                        
        color: $content-color;
        font-weight: 600;
        margin-top: 8px;  
    }

    .menu_btn {
        @include content_medium_button(160px);

        &:not(:first-of-type) {
            margin-left: 8px;
        }
    }   
    
    .button_panel {
        margin-top: 36px;
    }
}