@import "../theme/global.scss";
@import "../theme/utils.scss";

@font-face {
    font-family: "Nanumgothic";
    src: url("../font/NanumGothic.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Nanumgothic";
    src: url("../font/NanumGothicBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Nanumgothic";
    src: url("../font/NanumGothicExtraBold.ttf");
    font-weight: 800;
}

body {            
    font-family: 'Apple SD Gothic Neo', 'Nanumgothic', Arial, Helvetica, sans-serif;    
}

input {
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

button > * {
    pointer-events: none;
}

input, button {
    outline: none;
}

span {
    user-select: none;
}

div, button {
    box-sizing: border-box;
}

.bgimg {
    object-fit: cover;
    content: url("../image/wall.jpg");
}

.box {    
    overflow: hidden;
    background-color: $bg-color;        
}

.bgimg, .box {
    @include absolute_full_stretch;
}  