@import "../../../../../theme/global.scss";

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 24px 32px;
    box-sizing: border-box;        

    .content_container {
        height: 96px;
        position: relative;        
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;     
        margin-top: 24px;      
        
        //NOTE: 같은 class 중 가장 마지막을 고르려면 :last-child가 아니라 :last-of-type으로 써야됨.
        &:last-of-type {
            flex-grow: 300000;
        }

        & span {
            display: inline-block;
            font-size: $h4-size;
            font-weight: 600;
            color: $contrast-title-color;     
            margin: 0px 0px 8px 4px;   
        }

        .error_text {
            font-weight: 300;
            color: $alert-color;
            margin: 8px 0px 0px 4px;
            transition: opacity 0.2s ease-out;
        }
    
        input {
            width: 100%;
            height: 40px;
            font-size: $h3-size;
            color: $contrast-color;
            background: $contrast-textbox-bg-color;
            border: 1px solid $contrast-textbox-border-color;
            border-radius: 3px;        
            margin: 4px 0px;
            padding-left: 8px;    
            @include global_transition;            
        }

        .normal_input {
            &:hover {
                border-color: $contrast-textbox-border-hover-color;
            }

            &:focus {
                border-color: $contrast-textbox-border-active-color;
            }
        }

        .error_input {
            border-color: $alert-color;
        }

        input:focus ~ .error_text {
            opacity: 0;
        }
    }    

    .close_icon {
        width: 100%;
        height: 100%;                
        object-fit: cover;
    }

    .close_btn {
        position: absolute;
        right: 24px;
        top: 24px;
        background: none;
        width: 16px;
        height: 16px;
        padding: 0;
    }

    .add_btn {
        height: 40px;
        border-radius: 3px;
        background-color: $highlight-color;
        @include global_transition;

        .add_btn_text {
            font-size: $h2-size;
            color: $highlight-highlight-color;
            font-weight: 500;
        }

        &:hover {
            background-color: $highlight-hover-color;
        }

        &:active {
            background-color: $highlight-active-color;
        }
    }
}