@import "./Global";

@font-face {
    font-family: "Nanumgothic";
    src: url("../font/NanumGothic.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Nanumgothic";
    src: url("../font/NanumGothicBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Nanumgothic";
    src: url("../font/NanumGothicExtraBold.ttf");
    font-weight: 800;
}

body {    
        font-family: 'Nanumgothic', Arial, Helvetica, sans-serif;    
}

input {
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

button > * {
    pointer-events: none;
}

input, button {
    outline: none;
}

span {
    user-select: none;
}

.bgimg {
    object-fit: cover;
}

.box {
    overflow: hidden;
    background-color: $bg-color;    
}

.bgimg, .box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}  