@import "../../theme/global.scss";
@import "../../theme/utils.scss";

.options {
    @include relative_full;
    display: flex;    
}
.nav_panel {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 320px;
    height: 100%;
    background-color: $grade2-bg-color;
}

.content_panel {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 960px;
    height: 100%;
    background-color: $grade1-bg-color;
}