@import "../Global";

.item {
    width: 100%;
    max-width: 560px;
    height: 72px;
    background-color: $contrast-bg-color;
    border-radius: 5px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }

    .logo {
        width: 72px;
        height: 72px;
        overflow: hidden;
        margin-left: 16px;
    }

    .content_box {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;

        .info_txt {
            display: block;
            margin-left: 4px;
            font-size: 16px;
            font-weight: 300;
            color: $contrast-color;
        }

        input {
            width: 100%;
            padding-left: 4px;
            font-size: 16px;
            height: 32px;
            box-sizing: border-box;
            border: 1px solid $contrast-textbox-border-color;
            border-radius: 3px;        
            color: $contrast-color;
            background-color: $contrast-textbox-bg-color;    
        }
    }

    .button_box {
        width: 50%;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 16px;

        .modify_btn {
            width :72px;
            height: 36px;
            border-radius: 3px;
            background-color: rgb(64, 231, 31);
        }

        .remove_btn {
            @extend .modify_btn;
            margin-left: 16px;
            background-color: rgb(255, 80, 57);
        }

        .submit_btn {
            @extend .modify_btn;
            background-color: rgb(0, 115, 209);
        }

        .cancel_btn {
            @extend .remove_btn;
        }

        .btn_txt {
            font-size: 16px;
            font-weight: 600;
            color: $contrast-color;
        }
    }
}