@import "../Global";

.payment {
    position: relative;
    width: 100%;  
    height: 100%;      

    .panel {        
        transform: translateX(0%);
        background-color: $primary-bg-color;
    }

    .container {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;    
        box-sizing: border-box;
        padding: 24px 32px;
    }

    .panel, .container {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .header {
        display: block;
        font-size: $h4-size;
        line-height: 16px; 
        font-weight: 600;
        color: $title-color;        
        margin: 112px 0px 8px 0px;
    }

    .add_button {
        width: 124px;
        height: 40px;
        background-color: $highlight-color;
        border-radius: 3px;
        padding: 0;
        margin: 4px 0px;
        transition: all 0.2s ease;

        &:hover {
            background-color: $highlight-hover-color;
        }

        &:active {
            background-color: $highlight-active-color;
        }
    }

    .button_box {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;

        .icon {
            width: 32px;
            height: 32px;
            margin-left: 8px;
        }

        .btn_text {
            margin-left: 8px;
            font-size: $h2-size;
            font-weight: 500;
            color: $highlight-highlight-color;
        }
    }

    .content_box {
        position: relative;
        width: 100%;
        margin-top: 16px;
        height: 336px;   
        overflow: hidden; 
        border-radius: 5px;    
        background-color: $second-bg-color;
    }

    .content_box_small {
        @extend .content_box;
        width: 320px;
        height: 400px;
        align-self: center;
        background-color: $contrast-bg-color;
    }
}