@import "../Global";

.profile {
    position: relative;
    width: 100%;        
    height: 100%;

    div {
        box-sizing: border-box;
    }

    .panel {        
        background-color: $primary-bg-color;
        transform: translateX(0%);
    }

    .container {        
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 24px 32px 0px 32px;
    }

    .panel, .container {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .item_box {
        display: flex;
        flex-flow: column;        
        justify-content: flex-start;    
        align-items: flex-start;
        margin-bottom: 16px;    

        &:first-child {
            margin-top: 24px;
        }

        .header_box {
            display: flex;            
            justify-content: flex-start;                            
            flex-flow: row;
            align-items: center;            
            margin-bottom: 8px;
        }
        
        .item_header {
            display: block;
            font-size: $h4-size;  
            line-height: 16px;          
            font-weight: 600;
            margin-left: 7px;
            color: $title-color;
        }

        .error_text {
            @extend .item_header;
            color: $alert-color;
            font-weight: 600;
            margin-left: 8px;
        }

        input {
            min-width: 400px;
            height: 48px;
            border: 1px solid $textbox-border-color;
            border-radius: 3px;
            box-sizing: border-box;
            color: $content-color;
            background-color: $textbox-bg-color;
            padding-left: 8px;
            font-size: $h2-size;
            @include global_transition;         

            &:hover {
                border-color: $textbox-border-hover-color;
            }

            &:focus {
                border-color: $textbox-border-active-color;
            }
        }
    }    
}