@import "../Global";

div {    
    margin: 0;

    .register {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            position: relative;
            width: 1024px;
            height: 768px;
            background-color: $bg-color;
            border-radius: 10px;
            overflow: hidden;
        }
    }
}