@import "../../theme/global.scss";
@import "../../theme/utils.scss";

.dialog {
    @include fixed_full_stretch;

    .overlay {            
        @include fixed_full_stretch;
        background-color: rgba($color: #000000, $alpha: 0.6);
    }
}

.container {
    @include relative_full;     
    
    @include single_centered_flex;

    .box {
        @include relative;
        @include column_flex;        
        background-color: $bg-color;            
        overflow: hidden;
        border: none;            
        border-radius: 8px;
        box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.5);        
    }

    .logo {        
        @include absolute($right: 16px, $top: 16px);
        @include set_size(80px, 80px);        
        opacity: 0.2;
    }

    .logo_alert {
        @extend .logo;
        content: url("../../image//alert.svg");
    }

    .logo_yesorno {
        @extend .logo;
        content: url("../../image/true.svg");
    }

    .logo_confirm {
        @extend .logo;
        content: url("../../image/success.svg");
    }

    .content_box {
        @include single_centered_flex;
        min-width: 400px;
        min-height: 240px;
        font-size: 14px;
        font-weight: 600;
        color: $content-color;                                    
        padding: 24px;            
        white-space: pre;            
        overflow: hidden;     
        box-sizing: border-box;       
    }

    .button_box {                         
        @include relative_full;        
        align-self: baseline;      

        button {                                        
            @include medium_button(calc(100% - 16px));             
            margin: 8px;            
            padding: 0;
            font-size: 14px;
            font-weight: 700;                            
            color: $highlight-highlight-color;
        }

        .alert_btn {                
            background-color: $alert-color;
            
            &:hover {
                background-color: $alert-hover-color;
            }

            &:active {
                background-color: $alert-active-color;
            }
        }

        .success_btn {                
            background-color: $success-color;

            &:hover {
                background-color: $success-hover-color;
            }

            &:active {
                background-color: $success-active-color;
            }
        }

        .confirm_btn {
            background-color: $confirm-color;

            &:hover {
                background-color: $confirm-hover-color;
            }

            &:active {
                background-color: $confirm-active-color;
            }
        }
    }
}

