@import "../../../../../theme/global.scss";
@import "../../../../../theme/utils.scss";

.container {    
    @include relative_full;
    @include column_flex;

    .close_icon {        
        @include set_size_full;
        object-fit: cover;        
    }

    .close_btn {
        @include absolute($right: 24px, $top: 24px);
        @include set_size(16px, 16px);        
        background: none;        
        padding: 0;
    }
}